[submodule "external/dcap_source"]
	path = external/dcap_source
	url = ../confidential-computing.tee.dcap.git
	branch = .
[submodule "sdk"]
	path = sdk
	url = ../confidential-computing.sgx.sdk
	branch = .
